{% extends 'base.html.twig' %}

{% block title 'Liste des participants' %}

{% block body %}
    <div class="container mt-4">
    <div class="text-right">
        <a href="{{ path('participant.new') }}" class="btn btn-primary">Créer un participant</a>
        <form  method="post" action="{{ path('participant.delete.multiple') }}"
               style="display: inline-block"
               onsubmit="UpateValue() ; return confirm('Êtes-vous sûr de vouloir supprimer ces participants ?')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_ids" id="ids" value="">
            <button class="btn btn-danger" id="deleteMultiple" disabled>Supprimer des participants</button>
        </form>
    </div>
{#        <div class="container mt-4">#}
{#            <div class="col-md-4" style="display: inline-block">#}
{#            {{ knp_pagination_filter(participants, {#}
{#                'p.lastname': 'Nom',#}
{#            }) }}#}
{#            </div>#}
{#        </div>#}
        <form  method="post" action="{{ path('participant.index') }}"
               style="display: inline-block">
            <div class="row container mt-4">
                <div class="col-md-4">
            <input class="form-control" name="lastname" value="{{ filter.lastname}}" placeholder="Nom">
                </div>
                <div class="col-md-4">
            <input  class="form-control" name="society" value="{{ filter.society}}" placeholder="Société">
                </div>
                <div class="col-md-4">
            <button class="btn btn-primary" >rechercher</button>
                </div>
            </div>
        </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th scope="col"> {{ knp_pagination_sortable(participants, 'Nom', 'p.lastname') }}</th>
                <th scope="col" {% if participants.isSorted('p.firstname') %} class="sorted"{% endif %} >
                    {{ knp_pagination_sortable(participants, 'Prénom', 'p.firstname') }}
                </th>
                <th scope="col" {% if participants.isSorted('p.email') %} class="sorted"{% endif %} >
                    {{ knp_pagination_sortable(participants, 'Email', 'p.email') }}
                </th>
                <th scope="col" {% if participants.isSorted('p.active') %} class="sorted"{% endif %} >
                    {{ knp_pagination_sortable(participants, 'Statut', 'p.active') }}
                </th>
{#                <th scope="col">Société</th>#}
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>
                    <input type="checkbox" name="{{ participant.id }}" onclick="check({{participant.id}})"/>
                </td>
                <td>{{ participant.lastname }}</td>
                <td>{{ participant.firstname }}</td>
                <td>{{ participant.email }}</td>
                <td>{{ participant.active ? 'Activé' : 'Desactivé' }}</td>
{#                <td>#}
{#                </td>#}
                <td>
                    <a href="{{ path('participant.edit', {id : participant.id}) }}" class="btn btn-secondary">Editer</a>
                    <form  method="post" action="{{ path('participant.delete', {id : participant.id}) }}"
                    style="display: inline-block"
                    onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce participant ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participant.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
        <div class="pagination">
            {{ knp_pagination_render(participants) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        var ids = [];
        function check(id)
        {
            ids = ids && ids.find(idInList => idInList === id) ? ids.filter(idInList => idInList !== id) : [...ids, id];
            var button = $('#deleteMultiple');
            ids.length ? button.removeAttr('disabled') : button.attr('disabled', 'true');
        }

        function UpateValue() {
            $('#ids').val(ids);
        }
    </script>

{% endblock %}
