{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h2>{{ title }}</h2>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.name) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.address) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.email) }}
            </div>
        </div>
        <button class="btn btn-primary"> Enregistrer </button>
        {{ form_end(form) }}
    </div>

{% endblock %}