{% extends 'base.html.twig' %}

{% block title 'Liste des sociétes' %}

{% block body %}
    <div class="container mt-4">
        <div class="text-right">
            <a href="{{ path('society.new') }}" class="btn btn-primary">Créer une société</a>
        </div>
        <form  method="post" action="{{ path('society.index') }}"
                style="display: inline-block">
            <div class="row container mt-4">
                <div class="col-md-10">
                    <input class="form-control" name="name" value="{{ filter.name}}" placeholder="Société">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" >rechercher</button>
                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" class="sorted column_sort">{{ knp_pagination_sortable(societies, 'Nom', 's.name') }}</th>
                <th scope="col">{{ knp_pagination_sortable(societies, 'Adresse', 's.address') }}</th>
                <th scope="col">{{ knp_pagination_sortable(societies, 'Email', 's.email') }}</th>
                <th scope="col">Nombre employé</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for society in societies %}
                <tr>
                    <td>{{ society.name }}</td>
                    <td>{{ society.address }}</td>
                    <td>{{ society.email }}</td>
                    <td> {{ society.participantlenght }}</td>
                    <td>
                        <a href="{{ path('society.edit', {id : society.id}) }}" class="btn btn-secondary">Editer</a>
                        <form  method="post" action="{{ path('society.delete', {id : society.id}) }}"
                               style="display: inline-block"
                               onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette société ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ society.id) }}">
                            <button class="btn btn-danger"   {% if society.participantlenght > 0 %}  disabled {% endif %}
                                    >Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        <div class="pagination">
            {{ knp_pagination_render(societies) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
