<html>
<head>

</head>
<body>
<h4>
    Bonjour {{ name }} ,
    pour activer votre compte veuiller cliquer ce lien  <a href="{{ url('activate.account', {activationKey : activationKey}) }}">activer</a>
</h4>
</body>
</html>
